@import "src/styles/styleConstants";

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  grid-template-areas: "form form" "option1 option2";
}

.form {
  margin-bottom: 10px;
  width: 100%;
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    cursor: default;
    grid-area: title;
    text-align: center;
    font-weight: 600;
    color: #5e6c84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
  }
  .email {
    width: 100%;
    grid-area: email;
  }
  .password {
    width: 100%;
    grid-area: password;
  }
  .submit {
    width: 100%;
    background-color: $green!important;
    margin-top: 8px;
    grid-area: submit;
  }
}
.option1 {
  margin-top: 10px;
  font-size: 12px!important;
  grid-area: option1;
  align-items: end;
}
.option2 {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 12px!important;
  grid-area: option2;
  align-items: end;
}
