@import "src/styles/styleConstants";

.container {
  display: grid;
  grid-template-columns: auto 140px;
  grid-template-areas: "content rightMenu";


  .content {
    .titleContainer {
      grid-area: titleContainer;

      .titleInput {
        width: 80%;
      }

      .title {
        width: 80%;
        text-wrap: normal;
        word-break: break-word;
        white-space: revert;
        border: none;
        outline: none;

        background-color: transparent;

        color: $lightText;
        font-size: 20px;
        font-weight: 600;
      }

      .columnName {
        margin-top: 8px;
        color: $lightText;
        font-size: 12px;
        cursor: default;
      }
    }
  }

  .attributes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .rightMenu {
    grid-area: rightMenu;
  }

  .menuButton {
    background-color: #b0b0b0;
    color: $lightText;
    font-weight: 500;
  }
}

.description {
  margin-top: 20px;

  font-size: 16px;
  line-height: 20px;

  color: #172b4d;
}