@import "src/styles/styleConstants";

.container {
  max-width: 300px;
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: rgba(9, 30, 66, 0.04);

  width: 25px;
  height: 25px;

  &:hover {
    background-color: #DCDBDB;
  }
}

.menuContainer {
  overflow-y: auto;
}

.menuItem {
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 3px;
}

.tagItem {
  gap: 3px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;

  &:hover .checkBox {
    color: #b2b2b2;
  }
  &:hover .cardTag {
    box-shadow: 1px 1px rgba(black, 0.4);
  }
  .checkBox {
    position: absolute;
    top: 3px;
    left: 4px;
  }
}


.addIcon {
  fill: #5B5B5B!important;
  width: 17px!important;
  height: 17px!important;
}

.title {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #848c9b;
  margin-bottom: 4px;
}

.menuTitle {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #848c9b;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;

}

.menu {
  position: fixed;
  width: 100px;
  height: 200px;
}