@import "src/styles/styleConstants";


.container {
  background-color: #e7e5e5;
  color: #eb5a46;
  font-weight: 502;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}
