@import "src/styles/styleConstants";

.container {
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;

  width: 100%;

  padding: 8px;

  border-radius: 5px;

  cursor: pointer;

  transition: 0.3s all;

  &:hover {
    background-color: rgba(#0770B2, 0.2);
    gap: 10px;
    svg {
      fill: #0770B2;
    }
    div {
      color: #0770B2;
    }
  }

  svg {
    fill: $lightText;
  }

  div {
    font-weight: 501;
    color: $lightText;
  }
}
