@import "src/styles/styleConstants";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-size: cover;

  display: flex;
  justify-content: center;

  padding: 10px;
}
