@import "src/styles/styleConstants";

.container {
  width: 230px;

  padding: 8px;
  border-radius: 3px;

  position: fixed;

  flex-direction: column;
  gap: 5px;

  background-color: rgba(#eb5a46, 0.5);
}