@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;700&display=swap');

$mainGray: #656575;
$columnTone: #EFEFEF;
$lightText: #656575;
$red: #eb5a46;
$blue: #026aa7;
$buttonsGray: #DCDBDB;
$green: #5AAC44;