@import "src/styles/styleConstants";

.container {

}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  background-color: rgba(9, 30, 66, 0.04);

  width: 25px;
  height: 25px;
}

.addIcon {
  fill: #5B5B5B!important;
  width: 17px!important;
  height: 17px!important;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #848c9b;
}

.list {
  display: flex;
  gap: 3px;
}

.menu {
  position: fixed;
  width: 100px;
  height: 200px;
  background-color: #eb5a46;
}